<?xml version='1.0' encoding='utf-8'?>
<widget id="com.KinesisGames.Connect" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kinesis Connect</name>
    <icon src="www/logo192.png" />
    <description>
        A complete social media.
    </description>
    <author email="contact@kinesis.games" href="https://hub.kinesis.games">
        KinesisGames
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
